.TabsRoot {
  @apply flex flex-col;
}

.TabsList {
  @apply shrink-0 flex border-b;
}

.TabsTrigger {
  @apply px-5 py-2 flex-1 flex items-center 
    justify-center text-[15px] leading-none
    select-none outline-none cursor-default
    first:rounded-tl-md bg-ink-500/10
    last:rounded-tr-md 
    focus:relative;
}

.TabsTrigger:not([data-state='active']) {
  @apply cursor-pointer;
}

.TabsTrigger[data-state='active'] {
  @apply text-ink-900 font-bold;
}

.TabsContent {
  @apply grow p-5 bg-white rounded-b-md outline-none 
}