.sidebarButton {
  @apply absolute bottom-20 -translate-x-full 
    rounded-none rounded-l-lg drop-shadow-2xl
    lg:hidden;
}

.sidebar {
  @apply bg-parchment-900/40 h-full w-full 
    border-l border-ink-500 text-sm;
}

.panelTitle {
  @apply bg-ink-400/40 w-full text-left font-bold px-2 py-1;
}