/* Main Font, serif */
@font-face {
	font-family: BookInsanityRemake;
	src: url('Bookinsanity.woff2');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: BookInsanityRemake;
	src: url('Bookinsanity Bold.woff2');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: BookInsanityRemake;
	src: url('Bookinsanity Italic.woff2');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: BookInsanityRemake;
	src: url('Bookinsanity Bold Italic.woff2');
	font-weight: bold;
	font-style: italic;
}

/* Notes and Tables, sans-serif */
@font-face {
	font-family: ScalySansRemake;
	src: url('Scaly Sans.woff2');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: ScalySansRemake;
	src: url('Scaly Sans Bold.woff2');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: ScalySansRemake;
	src: url('Scaly Sans Italic.woff2');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: ScalySansRemake;
	src: url('Scaly Sans Bold Italic.woff2');
	font-weight: bold;
	font-style: italic;
}
@font-face {
	font-family: ScalySansSmallCapsRemake;
	src: url('Scaly Sans Caps.woff2');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: WalterTurncoat;
	src: url('WalterTurncoat-Regular.woff2');
	font-weight: normal;
	font-style: normal;
}

/* Headers */
@font-face {
	font-family: MrEavesRemake;
	src: url('Mr Eaves Small Caps.woff2');
	font-weight: normal;
	font-style: normal;
}

/* Fancy Drop Cap */
@font-face {
	font-family: SolberaImitationRemake; /*Tweaked 5e version*/
	src: url('Solbera Imitation Tweak.woff2');
	font-weight: normal;
	font-style: normal;
}
