.leaflet-draw-actions a:hover {
  /* background-color: #a0a098; */
  background-color: #606060;
}

.leaflet-draw-actions a {
  /* background-color: #919187; */
  background-color: #808080;
  color: white;
}


input[type=checkbox]:hover, input[type=color]:hover, button {
  cursor: pointer;
}

.control-button {
  display: flex;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  text-decoration: none;
  color: #464646;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  align-items: center; 
  justify-content: center;
}

.control-button svg {
  margin: 0;
}

.control-button span {
  width: 0px;
  position: relative;
  top: -7px;
  left: -5px;
}

.control-button:hover {
  background-color: #f4f4f4;
}

.leaflet-interactive.hidden {
  visibility: hidden;
}



/* .control {

} */

.control h4 {
  margin: 0 0 5px;
  color: #777;
  text-align: center;
}

.control .text-label {
  font-weight: 700;
  display: inline-block;
  width: 60px;
}

/* PropsControl */

.control .group-label {
  font-weight: 700;
}

.control .group-label-light {
  font-weight: 600;
  text-shadow: 1px 1px 1px #333, -1px -1px 1px #333, -1px 1px 1px #333, 1px -1px 1px #333;
}

.control .group-label-dark {
  font-weight: 900;
}

.layer-info {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 8px;
  margin-top: 10px;
}

.layer-info:first-child {
  margin-top: 0;
}

.svg-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-items: center;
}

.svg-grid label {
  display:flex;
  flex-direction:row;
  align-items:center;
}

.marker-svg {
  width: 18px;
  height: 22px;
  display: inline-flex;
  justify-content: center;
  align-items: center; 
}

.marker-svg svg {
  display: inline-block;
  margin: 0;
}

/* GroupsControl */

/* .groups-control .group-label:hover {
  cursor:text;
} */

.groups-control {
  padding: 0 !important;
}

.groups-control>div {
  padding: 6px 10px;
}

.groups-control-header {
  background-color: #eee;
  color: #777;
  border-bottom: 1px solid #ccc;
  font-weight: 700;
  border-radius: 5px 5px 0 0;
}

.groups-control-header label {
  width: calc(100% - 50px);
}

.groups-control.minimized .groups-control-header {
  border-radius: 5px;
}

.groups-control.minimized .groups-control-body {
  display: none;
}

.group-container .svg-button {
  margin-left: 8px;
}

.text-align-center {
  text-align: center;
}

.groups-control .group-container {
  display: flex;
  align-items: center; 
}

.groups-control input[type=checkbox], .groups-control input[type=color] {
  margin-right: 10px;
  margin-left: 0px;
}

.groups-control input[type=color] {
  width: 30px;
  padding: 2px 0;
}

/* SvgButton */

.edition-buttons-container {
  display: flex;
  align-items: center; 
  justify-content: center;
}

.svg-button {
  display: inline-block;
  background-color: #eee;
  margin: 2px;
  padding: 2px;
  border: 1px solid #ccc;
  text-decoration: none;
  color: #464646;
  border-radius: 4px;
  box-shadow: inset 0 0 6px 3px rgba(0,0,0,0.1);
  height: 20px;
  width: 20px;
}

.svg-button:hover {
  background-color: #bbb;
}

.svg-icon-container {
  position: relative; 
  height: 0; 
  width: 100%; 
  padding: 0;
  padding-bottom: 100%; 
}

.svg-icon-container svg {
  position: absolute; 
  height: 100%; 
  width: 100%; 
  left: 0; 
  top: 0;
}

.info-icon {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-left: 10px;
}