.ToastViewport {
  --viewport-padding: 25px;
  @apply fixed bottom-0 right-0 flex flex-col 
    p-[var(--viewport-padding)] gap-2 w-[390px]
    m-0 list-none z-[999999] outline-none;
}

.ToastRoot {
  @apply relative bg-white rounded-md shadow-lg p-2 
    flex text-gray-600;
}
.ToastRoot[data-state='open'] {
  animation: slideIn 150ms cubic-bezier(0.16, 1, 0.3, 1);
}
.ToastRoot[data-state='closed'] {
  animation: hide 100ms ease-in;
}
.ToastRoot[data-swipe='move'] {
  transform: translateX(var(--radix-toast-swipe-move-x));
}
.ToastRoot[data-swipe='cancel'] {
  transform: translateX(0);
  transition: transform 200ms ease-out;
}
.ToastRoot[data-swipe='end'] {
  animation: swipeOut 100ms ease-out;
}
.ToastAlert {
  @apply border-2 border-red-700 text-red-700 bg-red-100;
}
.ToastSuccess {
  @apply border-2 border-green-700 text-green-700 bg-green-100;
}

@keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(calc(100% + var(--viewport-padding)));
  }
  to {
    transform: translateX(0);
  }
}

@keyframes swipeOut {
  from {
    transform: translateX(var(--radix-toast-swipe-end-x));
  }
  to {
    transform: translateX(calc(100% + var(--viewport-padding)));
  }
}

.ToastTitle {
  @apply font-semibold mb-2 text-lg flex items-center;
}

.ToastDescription {
  @apply text-gray-700;
}

.ToastClose {
  @apply absolute top-0 right-0 py-1 px-2;
}