.AccordionRoot {
  @apply rounded w-full ;
  /* border-radius: 6px; bg-ink-300/30
  width: 300px;
  background-color: var(--mauve6);
  box-shadow: 0 2px 10px var(--blackA4); */
}

.AccordionItem {
  @apply overflow-hidden relative;
  /* overflow: hidden;
  margin-top: 1px; */
}

.AccordionItem:first-child {
  @apply mt-0 rounded-t;
  /* margin-top: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px; */
}

.AccordionItem:last-child {
  @apply rounded-b;
  /* border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px; */
}

.AccordionItem:focus-within {
  @apply relative z-[1];
  /* position: relative;
  z-index: 1;
  box-shadow: 0 0 0 2px var(--mauve12); */
}

.AccordionHeader {
  @apply flex m-0 bg-ink-300/20;
  /* display: flex; */
}

.AccordionTrigger {
  @apply flex p-2 justify-between items-center 
    grow w-full;
  /* font-family: inherit;
  background-color: transparent;
  padding: 0 20px;
  height: 45px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  line-height: 1;
  color: var(--violet11);
  box-shadow: 0 1px 0 var(--mauve6);
  background-color: white; */
}

.AccordionTrigger:hover {
  @apply bg-ink-300/30;
}

.AccordionContent {
  @apply overflow-hidden;
  /* overflow: hidden;
  font-size: 15px;
  color: var(--mauve11);
  background-color: var(--mauve2); */
}
.AccordionContent[data-state='open'] {
  animation: slideDown 300ms cubic-bezier(0.87, 0, 0.13, 1);
}
.AccordionContent[data-state='closed'] {
  animation: slideUp 300ms cubic-bezier(0.87, 0, 0.13, 1);
}

.AccordionContentText {
  @apply p-2;
}

.AccordionChevron {
  transition: transform 300ms cubic-bezier(0.87, 0, 0.13, 1);
}
.AccordionTrigger[data-state='open'] > .AccordionChevron {
  transform: rotate(180deg);
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}
