.top-right-container {
  @apply fixed right-2 top-10 flex flex-col z-10 items-end;
  max-height: calc(100vh - 50px);
}

.bottom-right-container {
  @apply fixed right-2 bottom-2 flex flex-col z-10 items-end;
}

.control-panel {
  @apply rounded-md;
  border: 2px solid rgba(0,0,0,0.2);
}

.control {
  @apply bg-white rounded-md text-sm shadow text-left shrink overflow-y-auto;
}

.top-left-container {
  @apply absolute left-[10px] top-[86px] flex flex-col z-10 items-start;
}

.control-header {
  @apply bg-gray-300 text-gray-700 border-gray-400 rounded-t
    border-b font-bold px-2 py-1 flex items-center;
}

.control-button {
  @apply flex bg-white text-[#464646] hover:bg-gray-100
    items-center justify-center w-[30px] h-[30px]
    disabled:cursor-not-allowed border-b border-[#ccc];
}

.control-button:last-child {
  @apply border-none;
}

.unsaved-changes {
  @apply bg-orange-500 text-white hover:bg-orange-600;
}

.group-label-light {
  font-weight: 600;
  text-shadow: 1px 1px 1px #333, -1px -1px 1px #333, -1px 1px 1px #333, 1px -1px 1px #333;
}

.group-label-dark {
  font-weight: 900;
}