.DialogOverlay {
  @apply fixed bg-black/30 z-[200];
  inset: 0;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.DialogContent {
  @apply z-[201] bg-white rounded-md shadow-md fixed
    top-[50%] left-[50%] w-[90vw] max-w-[500px] max-h-[85vh];
  transform: translate(-50%, -50%);
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.AlertOverlay {
  @apply z-[300];
}

.AlertContent {
  @apply max-w-[450px] z-[301];
}

.DialogContent:focus {
  outline: none;
}

.DialogTitle {
  @apply mt-6 mx-6 font-medium text-ink-900 text-lg font-sans;
}

.DialogDescription {
  @apply mx-6 leading-6 my-4 text-gray-700 text-base;
}

.DialogBody {
  @apply m-6;
}

.DialogFooter {
  @apply flex justify-end mx-6 mb-6;
}


.IconButton {
  @apply rounded-full h-6 w-6 inline-flex items-center 
    justify-center absolute top-2.5 right-2.5
    hover:bg-gray-200 focus:bg-gray-200 ;
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
