.ribbons-container {
  @apply absolute right-0 top-[-3px] z-[1]
    text-white flex;
}

.css-ribbon {
  @apply absolute top-0 rounded-t-[3px] border-sky-600;
  z-index: -1;
  /* border:  1.75rem solid #a29f9f; */
  border-width: 1.75rem;
  border-top:  0 !important;  
  border-bottom: 0.5rem solid transparent !important; 
  height: 3.5rem;
  filter: drop-shadow(0 2px 4px rgb(0 0 0 / 0.3));
}

.efficacity-bonus, .activation-bonus {
  @apply flex flex-col items-center relative
    justify-center font-semibold text-sm;
}

.efficacity-bonus, .activation-bonus {
  height: 3rem;
  width: 4rem;
  padding-bottom: 0.5rem;
}

.activation-bonus .css-ribbon {
  border: 1.5rem solid var(--reservation);
  border-top: 0 !important;  
  border-bottom: 0.5rem solid transparent !important; 
  height: 3rem;
}