@layer component {
  .badge {
    @apply inline-flex font-bold px-2 py-0.5 font-sans
      items-center bg-gray-400 text-white rounded-lg text-xs;
  }
  .badge-xp {
    @apply badge bg-[#58180D];
  }
  
  .badge-pc {
    @apply badge bg-[#4c478e];
  }
  
  .badge-ner {
    @apply badge bg-[#428472];
  }
  
  .badge-souffle {
    @apply badge bg-[#cea74d];
  }

  .badge-reservation {
    @apply badge bg-[#ff7f50];
  }

  .badge-activation {
    @apply badge bg-[#b065bd];
  }

  .badge-kg {
    @apply badge bg-gray-600;
  }
}
