@layer base {
  .bg-parchment-img {
    background-image: url("/images/app/parchmentBackground.jpg");
  }

  .MrEavesRemake {
    font-family: MrEavesRemake;
  }
  .BookInsanityRemake {
    font-family: BookInsanityRemake;
  }
  .ScalySansRemake {
    font-family: ScalySansRemake;
  }
  .ScalySansSmallCapsRemake {
    font-family: ScalySansSmallCapsRemake;
  }
  .WalterTurncoat {
    font-family: WalterTurncoat;
  }
  
  .text-shadow {
    text-shadow: 0 2px 4px rgba(0,0,0,0.10);
  }

  .text-shadow-md {
    text-shadow: 0 4px 8px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.08);
  }

  .text-shadow-lg {
    text-shadow: 0 15px 30px rgba(0,0,0,0.11), 0 5px 15px rgba(0,0,0,0.08);
  }

  .text-shadow-none {
    text-shadow: none;
  }
}
  