@layer components {
  .btn {
    @apply inline-block py-1 px-2 rounded shadow-md
      font-semibold text-xs transition duration-150 ease-in-out
      bg-ink-500 text-white;
  }
  .btn:hover {
    @apply bg-ink-600 shadow-lg;
  }
  .btn:focus {
    @apply bg-ink-600 shadow-lg outline-none ring-0;
  }
  .btn:active {
    @apply bg-ink-600 shadow-lg outline-none ring-0;
  }
  .btn:disabled {
    @apply bg-ink-300 cursor-not-allowed;
  }
  .btn-gray {
    @apply bg-gray-500 hover:bg-gray-600 focus:bg-gray-600 active:bg-gray-600 disabled:bg-gray-300;
  }
  .btn-green {
    @apply bg-green-500 hover:bg-green-600 focus:bg-green-600 active:bg-green-600 disabled:bg-green-300;
  }
  .btn-ink {
    @apply bg-ink-700 hover:bg-ink-800 focus:bg-ink-800 active:bg-ink-800 disabled:bg-ink-300;
  }
  .btn-emerald {
    @apply bg-emerald-500 hover:bg-emerald-600 focus:bg-emerald-600 active:bg-emerald-600 disabled:bg-emerald-300;
  }
  .btn-red {
    @apply bg-red-600 hover:bg-red-700 focus:bg-red-700 active:bg-red-700 disabled:bg-red-300;
  }

  .inline-btn {
    @apply text-ink-500 hover:text-ink-800 p-0 px-1 rounded hover:bg-ink-200/50 text-center
      disabled:cursor-not-allowed disabled:text-ink-300;
  }

  .outline-btn {
    @apply inline-btn border border-ink-500;
  }
}