.code-edit-container {
  @apply text-left font-mono h-full text-sm;
  word-wrap: break-word;
  resize: none !important;
}

.hljs-section {
  color: red;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-root {
  background-color: rgb(208, 230, 208);
}

.hljs-xp, .hljs-xp-unit {
  @apply text-[#58180D]/70
}

.hljs-pc, .hljs-multiplier-pc, .hljs-pc-unit, .hljs-total-pc {
  color: var(--pc);
}

.hljs-kg, .hljs-kg-unit {
  @apply bg-gray-200
}

.hljs-meta-branch, .hljs-meta-value, .hljs-meta-unit {
  color: red;
}

.hljs-ner, .hljs-ner-unit {
  color: var(--ner);
}

.hljs-prop, .hljs-prop-value, .hljs-prop-unit {
  color: blue;
}

.hljs-init {
  color: rgb(0, 229, 255);
}

.hljs-capacity-root-type {
  color: blue;
}

.hljs-meta-value, .hljs-prop-value {
  text-decoration: underline;
}

.hljs-ressources-name {
  color: violet;
}

.hljs-competences-name {
  color: rgb(48, 126, 136);
}

.hljs-roots-known-name {
  color: rgb(180, 80, 40);
}

.hljs-feats-name {
  color: rgb(28, 158, 175);
}

.hljs-features-name {
  color: rgb(115, 44, 173);
}


/* overrides */
/* .code-edit-container :not(pre) > code[class*="language-"],
.code-edit-container pre[class*="language-"] {
  background: transparent;
  margin: 0;
} */
