@layer components {
  .cards-container {
    @apply lg:grid lg:grid-cols-2;
  }
  .card {
    @apply bg-white m-2 mt-1 p-[2px] shadow-md relative overflow-x-auto;
  }
  .card h2:first-child, .card h3:first-child {
    @apply m-2 flex items-center;
  }

  .watercolor {
    @apply absolute z-[-1] h-screen w-screen top-0 left-0;
    background: url('/images/app/watercolor/watercolor5.png');
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.2;
  }
  .stain-1 {@apply watercolor bg-[url('/images/app/watercolor/watercolor1.png')]}
  .stain-2 {@apply watercolor bg-[url('/images/app/watercolor/watercolor2.png')]}
  .stain-3 {@apply watercolor bg-[url('/images/app/watercolor/watercolor3.png')]}
  .stain-4 {@apply watercolor bg-[url('/images/app/watercolor/watercolor4.png')]}
  .stain-5 {@apply watercolor bg-[url('/images/app/watercolor/watercolor5.png')]}
  .stain-6 {@apply watercolor bg-[url('/images/app/watercolor/watercolor6.png')]}
  .stain-7 {@apply watercolor bg-[url('/images/app/watercolor/watercolor7.png')]}
  .stain-8 {@apply watercolor bg-[url('/images/app/watercolor/watercolor8.png')]}
  .stain-9 {@apply watercolor bg-[url('/images/app/watercolor/watercolor9.png')]}
  .stain-10 {@apply watercolor bg-[url('/images/app/watercolor/watercolor10.png')]}
  .stain-11 {@apply watercolor bg-[url('/images/app/watercolor/watercolor11.png')]}
  .stain-12 {@apply watercolor bg-[url('/images/app/watercolor/watercolor12.png')]}
  
  .frame {
    @apply block bg-white m-3 overflow-hidden p-0 md:p-5;
    border-collapse     : separate;
    border              : initial;
    border-style        : solid;
    border-image-outset : 0.55cm 0.3cm;
    border-image-repeat : stretch;
    border-image-slice  : 200;
    border-image-source : url("/images/app/frameBorder.png");
    border-image-width  : 47px;
  }
}
