input[type=text], input[type=number], 
input[type=date], input[type=password],
input[type=search] {
  @apply bg-gray-50 border border-gray-300 text-gray-900 
    rounded w-full py-0.5 px-1.5 text-sm font-sans inline-block 
    disabled:bg-gray-200 disabled:text-gray-500
    /* focus:ring-emerald-500 focus:border-emerald-300; */
}

select {
  @apply bg-gray-50 border border-gray-300 text-gray-900 
    text-sm rounded-lg disabled:bg-gray-200 disabled:text-gray-500
    inline-block w-full px-2 py-1;
}

input[type=color] {
  @apply inline-block w-8 h-5 shadow-inner rounded p-[2px] bg-black/10;
}

input[type=date] {
  @apply w-fit;
}

fieldset {
  @apply border border-parchment-900 px-2 py-1;
}

fieldset legend {
  @apply px-2 font-semibold py-0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button.noArrows,
input::-webkit-inner-spin-button.noArrows {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number].noArrows {
  -moz-appearance: textfield;
}