*:not(svg) {
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

body {
  @apply bg-parchment-100 bg-parchment-img text-base font-sans text-gray-900;
  /* background-image: url("/images/app/parchmentBackground.jpg"); */
  box-shadow: inset 1em 0em 1em rgba(0, 0, 0, 0.05),
    inset -1em 0em 1em rgba(0, 0, 0, 0.05);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, h4 {
  @apply text-ink-900 mt-4 mb-3 font-extrabold;
  font-family   : MrEavesRemake;
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.7rem;
}
h3 {
  font-size: 1.35rem;
}
h4 {
  font-size: 1.1rem;
}
h5 {
  font-family: ScalySansSmallCapsRemake;
  font-weight: 900;
  font-size: 1rem;
  margin-top: 0.4rem;
}

p {
  margin-bottom: .5rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.background-parchment-img {
  @apply absolute bg-parchment-img w-full h-full -z-10 top-0 left-0;
}


.inner-html-container ul {
  @apply list-disc list-inside ml-1;
}

.inner-html-container ul ul {
  @apply list-[circle] list-inside ml-3;
}

.inner-html-container ul ul ul {
  @apply list-[square] list-inside ml-5;
}

.inner-html-container ul ul ul ul {
  @apply list-["-_"] list-inside ml-7;
}

.inner-html-container a {
  @apply font-bold text-ink-900;
}

.card-collapsed .inner-html-container ul {
  @apply hidden;
}

.app-title {
  @apply text-center text-5xl mt-0 BookInsanityRemake 
    mb-4 col-span-2 mr-6;
  -webkit-text-stroke: 1.5px rgb(123, 42, 28); /* #7B2A1C */
  color: rgb(251, 204, 18); /* #FBCC12, */
}

.app-title svg {
  @apply relative top-[14px] left-[22px] text-[#7B2A1C] opacity-60 -z-10;
}



/* MAP */

.leaflet-interactive { 
  cursor: unset !important;
}

.ping-container {
  overflow: hidden;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.ping {
  border-radius: 50%;
  border: 0px solid #fff;
  background: #fff;
  width: 10px;
  height: 10px;
  animation: ping-animation 1.5s ease-out 3;
  animation-fill-mode: forwards; 
}

.map-svg-icon {
	background: transparent !important; 
	border: none !important;
}

.light-map-element {
  filter: ddrop-shadow(0px 0px 3px #000);
}

.dark-map-element {
  filter: drop-shadow(0px 0px 3px #fff);
}

svg {
  @apply text-base;
}

@keyframes ping-animation {
  0% {
    border-width: 0px;
    opacity: 1;
  }
  100% {
    border-width: 30px;
    opacity: 0;
  }
}