table {
  @apply text-sm;
  font-family : ScalySansRemake;
}

thead {
  display: table-row-group;
  font-weight : 800;
}

th {
  vertical-align : bottom;
  /* padding: 0.14em 0.4em; */
  text-align: left;
}

td {
  padding : 0.14em 0.4em;
}

table tr:nth-child(odd) td:not(.bg-none) {
  background-color : var(--noteGreen);
}

table tr.tr-odd td:not(.bg-none) {
  background-color : var(--noteGreen);
}

table tr.tr-even td {
  background-color : transparent;
}

table tr.tr-gold td:not(.bg-none) {
  background-color : rgba(var(--headerUnderline-rgb), .5);
}

table.hover tr:hover td {
  background-color : rgba(var(--headerUnderline-rgb), .2) !important;
}

table div.bg-white:not(.bg-none) {
  font-family: var(--app-font);
  font-size: 1rem;
  line-height: 1.5rem;
}

table.nowrap td {
  white-space: nowrap;
}