.react-tagsinput {
  @apply overflow-hidden rounded w-full inline-block 
    bg-gray-50 border border-gray-300 p-0 pt-0.5;
}

.react-tagsinput>span {
  @apply flex flex-wrap ;
}

.react-tagsinput-tag {
  @apply bg-emerald-100 border-emerald-400 text-emerald-700 
    inline-block rounded border font-sans text-sm 
    m-0.5 mt-0 py-0.5 px-2;
}

.react-tagsinput-remove {
  @apply cursor-pointer font-bold;
}

.react-tagsinput-tag a::before {
  content: " ×";
}

input[type=text].react-tagsinput-input {
  @apply grow text-sm outline-none p-1 w-20 
    bg-transparent border-0;
}

