/* @import '@radix-ui/colors/blackA.css';
@import '@radix-ui/colors/indigo.css';
@import '@radix-ui/colors/mauve.css';
@import '@radix-ui/colors/purple.css';
@import '@radix-ui/colors/violet.css';
 */

:root {
  --font              : #000;
  --background        : #EEE5CE; /*Light parchment */
  --background-rgb    : 238, 229, 206; /*Light parchment */
  --noteGreen         : #e0e5c1; /*Pastel green */
  --noteGreen-rgb     : 224, 229, 193; /*Pastel green */
  --headerUnderline   : #c9ad6a; /*Gold */
  --headerUnderline-rgb : 201, 173, 106; /*Gold */
  --horizontalRule    : #9c2b1b; /*Maroon */
  --horizontalRule-rgb : 156, 43, 27; /*Maroon */
  --headerText        : #58180D; /*Dark maroon */
  --headerText-rgb    : 88, 24, 13; /*Dark maroon */
  --monsterStatBackground : #FDF1DC; /*Light orange parchment */
  --monsterStatBackground-rgb : 253, 241, 220; /*Light orange parchment */
  --captionText       : #766649; /*Brown */
  --captionText-rgb   : 118, 102, 73; /*Brown */
  --watercolorStain   : #BBAD82; /*Light brown */
  --watercolorStain-rgb : 187, 173, 130; /*Light brown */
  --xp: #58180D;
  --xp-rgb: 88, 24, 13;
  --pc: #4c478e;
  --pc-rgb: 76, 71, 142;
  --ner: #428472;
  --ner-rgb: 66, 132, 114;
  --souffle: #cea74d;
  --souffle-rgb: 206, 167, 77;
  --panel-width: 320px;
  --reservation: #FF7F50;
  --reservation-rgb: 255, 127, 80;
  --activation: #b065bd;
  --activation-rgb: 176, 101, 189;
}