.NavigationMenuRoot {
  @apply relative flex justify-center w-full;
  /* fixed? */
  z-index: 999;
}


.NavigationMenuList {
  @apply flex justify-center list-none shadow-lg 
    m-0 rounded-md overflow-hidden bg-parchment-900/40;
}

.NavigationMenuTrigger,
.NavigationMenuLink {
  @apply py-2 px-3 outline-none font-medium 
    leading-none rounded-md text-sm h-full
    focus:bg-parchment-900/40 hover:bg-parchment-900/40;
}

.NavigationMenuTrigger svg,
.NavigationMenuLink svg {
  @apply text-ink-900;
}

.NavigationMenuTrigger {
  @apply flex items-center justify-between;
  gap: 2px;
}

.NavigationMenuLink {
  @apply block leading-none;
}

.NavigationMenuContent {
  @apply absolute top-0 left-0 w-full;
  animation-duration: 250ms;
  animation-timing-function: ease;
}
.NavigationMenuContent[data-motion='from-start'] {
  animation-name: enterFromLeft;
}
.NavigationMenuContent[data-motion='from-end'] {
  animation-name: enterFromRight;
}
.NavigationMenuContent[data-motion='to-start'] {
  animation-name: exitToLeft;
}
.NavigationMenuContent[data-motion='to-end'] {
  animation-name: exitToRight;
}
@media only screen and (min-width: 600px) {
  .NavigationMenuContent {
    width: auto;
  }
}

.NavigationMenuIndicator {
  @apply relative flex items-end justify-center top-full overflow-hidden;
  height: 10px;
  z-index: 1;
  transition: width, transform 250ms ease;
}
.NavigationMenuIndicator[data-state='visible'] {
  animation: fadeIn 200ms ease;
}
.NavigationMenuIndicator[data-state='hidden'] {
  animation: fadeOut 200ms ease;
}

/* .List:before {
  @apply absolute w-full h-full -z-10 top-0;
  content: '';
  background-image: url("/images/app/parchmentBackground.jpg");
} */


.NavigationMenuViewport {
  @apply relative origin-top w-full rounded-lg shadow-lg 
    overflow-hidden bg-white text-ink-900;
  margin-top: 10px;
  height: var(--radix-navigation-menu-viewport-height);
  transition: width, height, 300ms ease;
}
.NavigationMenuViewport[data-state='open'] {
  animation: scaleIn 200ms ease;
}
.NavigationMenuViewport[data-state='closed'] {
  animation: scaleOut 200ms ease;
}
@media only screen and (min-width: 600px) {
  .NavigationMenuViewport {
    width: var(--radix-navigation-menu-viewport-width);
  }
}

.Arrow {
  @apply relative rotate-45 bg-white;
  top: 70%;
  width: 10px;
  height: 10px;
  border-top-left-radius: 2px;
}

.List {
  @apply grid p-1 m-0 list-none;
  column-gap: 10px;
}

@media only screen and (min-width: 600px) {
  .List {
    width: 500px;
    grid-template-columns: 1fr 1fr;
  }
}

.ListItemLink {
  @apply block outline-none px-4 py-3 rounded-md text-sm font-semibold
    focus:bg-ink-500/20 hover:bg-ink-500/20 grow;
  user-select: none;
}

.ViewportPosition {
  @apply absolute flex justify-center w-full top-full left-0;
  perspective: 2000px;
}

/* .CaretDown {
  position: relative;
  color: var(--violet10);
  top: 1px;
  transition: transform 250ms ease;
}
[data-state='open'] > .CaretDown {
  transform: rotate(-180deg);
} */

@keyframes enterFromRight {
  from {
    opacity: 0;
    transform: translateX(200px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes enterFromLeft {
  from {
    opacity: 0;
    transform: translateX(-200px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes exitToRight {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(200px);
  }
}

@keyframes exitToLeft {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-200px);
  }
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: rotateX(-30deg) scale(0.9);
  }
  to {
    opacity: 1;
    transform: rotateX(0deg) scale(1);
  }
}

@keyframes scaleOut {
  from {
    opacity: 1;
    transform: rotateX(0deg) scale(1);
  }
  to {
    opacity: 0;
    transform: rotateX(-10deg) scale(0.95);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}